# Class exercise 1 ![](https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png)

In [1]:
num_1 = float(input("write a number"))
num_2 = float(input("write another number"))
print(num_1 * num_2)

write a number60.7
write another number45.7
2773.9900000000002

In [11]:
names = ['Casper', 'Hanne', 'Hans', 'Claus', 'Lotte']
names_with_h = [name for name in names if name.startswith('H')]
print('Names that starts with H:')
print(names_with_h)

Names that starts with H:
['Hanne', 'Hans']

In [12]:
print('Numbers from 1-100 to the power of 3:')
print([i**3 for i in range(1, 101)])

Numbers from 1-100 to the power of 3:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [14]:
names = ['Casper', 'Hanne', 'Hans', 'Claus', 'Lotte']
tuples_names = [(len(name), name) for name in names]
print('List of tubles:')
print(tuples_names)

List of tubles:
[(6, 'Casper'), (5, 'Hanne'), (4, 'Hans'), (5, 'Claus'), (5, 'Lotte')]

In [26]:
string = 'a1b2c3d4e567'
numbers_list = [char for char in string if char.isdigit()]
print('Numbers from a string')
print(numbers_list)

Numbers from a string
['1', '2', '3', '4', '5', '6', '7']

In [32]:
dice_combi = [(d1,d2) for d1 in range(1, 7) for d2 in range(1,7)]
print('Combination from throwing 2 dices')
print('Possible combinations: ', len(dice_combi))
print(dice_combi)

Combination from throwing 2 dice
Possible combinations:  36
[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [33]:
names = ['Casper', 'Hanne', 'Hans', 'Claus', 'Lotte']
names_dictionary = [{name: len(name)} for name in names]
print('Dictionary with names and lenghts')
print(names_dictionary)

[{'Casper': 6}, {'Hanne': 5}, {'Hans': 4}, {'Claus': 5}, {'Lotte': 5}]

In [36]:
import math
numbers_dictionary = [{number: math.sqrt(number)} for number in range(1, 11)]
print('Dictionary with numbers and squareroot')
print(numbers_dictionary)

Dictionary with numbers and squareroot
[{1: 1.0}, {2: 1.4142135623730951}, {3: 1.7320508075688772}, {4: 2.0}, {5: 2.23606797749979}, {6: 2.449489742783178}, {7: 2.6457513110645907}, {8: 2.8284271247461903}, {9: 3.0}, {10: 3.1622776601683795}]

In [44]:
#dice_combi_sum = [{d1+d2: 0} for d1 in range(1,7) for d2 in range(1,7)]
#print(dice_combi_sum)
dice_combi_set = set([d1+d2 for d1 in range(1,7) for d2 in range(1,7)])
print(dice_combi_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}